<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>{{title}}</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="[ '/' ]"> <i class="fa fa-home"></i> </a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="[ '/students' ]">Students</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a [routerLink]="[ '/schedules' ]">Schedules</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container mt-3">
  <div class="col-md-12 col-xs-12 col-md-offset-2 push-md-2">

    <router-outlet></router-outlet>

  </div>
</div>